{
  "semi": false,
  "printWidth": 100,
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "singleAttributePerLine": false,
  "eslintIntegration": true,
  "jsxBracketSameLine": false
}
