:root {
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-20: 20px;
  --font-49: 49px;
}
.dark{
  --font-color-public: #000;
}
.light{
  --font-color-public: #fff;
}
